.card{ id: "card_#{card.id}", data: { update_url: board_list_card_sort_path(@board, list, card) } }
  - if card.deadline
    - if card.deadline == Date.current()
      .lists__item__content__card.is-approaching
        = card.name
    - elsif card.deadline < Date.current()
      .lists__item__content__card.overdue
        = card.name
    - else
      .lists__item__content__card
        = card.name
  - else
    .lists__item__content__card
      = card.name
  .modal.hidden{class: "card-id-#{card.id}"}
    .modal__header
      = fa_icon "edit 2x"
      .card-name
        = card.name
      .card-name__form
        = form_for card, url: board_list_card_path(@board, list, card), remote: true do |f|
          = f.text_field :name, autofocus: true, class: "card-edit-form", maxlength: 15
      = fa_icon "times lg", class: "modal-close"
    .modal__deadline
      .modal__deadline__label
        = fa_icon "calendar-check-o"
        期限
      .modal__deadline__link
        - if card.deadline
          - if card.deadline == Date.current()
            %span.modal__deadline__date.is-approaching
              = card.deadline
          - elsif card.deadline < Date.current()
            %span.modal__deadline__date.overdue
              = card.deadline
          - else
            %span.modal__deadline__date
              = card.deadline
        - else
          %span
            期限を設定する
      .modal__deadline__date__form
        = form_for card, url: board_list_card_path(@board, list, card), remote: true do |f|
          = f.text_field :deadline, class: "form-control datepicker"
          = f.submit "保存", class: "card-deadline-edit-submit"
        = fa_icon "times lg", class: "card-deadline-close"
    .modal__edit-link
      - if card.details
        %span.modal__edit-link__details
          詳細説明
        %span.modal__edit-link__text
          編集
        .modal__edit-link__text__details
          = card.details
      - else
        = fa_icon "align-left"
        %span.modal__edit-link__text
          詳細説明を編集
    .modal__edit-link__form
      = form_for card, url: board_list_card_path(@board, list, card), remote: true do |f|
        = f.text_area :details, autofocus: true, class: "card-details-edit-form"
        %br/
        = f.submit '保存', class: "card-details-edit-submit"
        = fa_icon "times lg", class: "card-details-close"
    .modal__comment-label
      = fa_icon "comment-o lg"
      コメントを追加
    .modal__comment-form
      = form_for @activity, url: board_list_card_activities_path(@board, list, card), remote: true do |f|
        = f.text_area :memo
        %br/
        = f.submit '保存', class: "activity-submit-button"
    .modal__log-label
      = fa_icon "list-ul lg"
      アクティビティログ
    .modal__log-list
      = render partial: "shared/activity", collection: card.activities.reverse, locals: { list: list, card: card }
    .card-delete-button
      = link_to "削除", { controller: "cards", action: "destroy", board_id: @board.id, list_id: list.id, id: card.id }, method: :delete, class: "card-delete-button__link", remote: true
