.lists__item__content__card
  = card.name
.modal.hidden
  .modal__header
    = fa_icon "edit lg"
    .card-name
      = card.name
    .card-name__form
      = form_for card, url: board_list_card_path(@board, list, card) do |f|
        = f.text_field :name, autofocus: true, class: "card-edit-form"
    = fa_icon "times lg", class: "modal-close"
  .modal__edit-link
    = fa_icon "align-left"
    詳細説明を編集
  .modal__comment-label
    = fa_icon "comment-o lg"
    コメントを追加
  .modal__comment-form
    = form_for @activity, url: board_list_card_activities_path(@board, list, card) do |f|
      = f.text_area :memo
      %br/
      = f.submit '保存', class: "activity-submit-button"
  .modal__log-label
    = fa_icon "list-ul lg"
    アクティビティログ
  .modal__log-list
    = render partial: "activity", collection: card.activities.reverse
