.lists__item{class: "list-id-#{list.id}", id: "list_#{list.id}", data: {update_url: board_list_sort_path(@board, list) } }
  .lists__item__header
    = list.name
  .lists__item__header__form
    = form_for list, url: board_list_path(@board, list), remote: true do |f|
      = f.text_field :name, autofocus: true, class: "list-edit-form"
    .list-delete-button
      = link_to "削除", { controller: "lists", action: "destroy", board_id: @board.id, id: list.id }, method: :delete, class: "list-delete-button__link"
  .lists__item__content
    = render partial: "lists/card", collection: list.cards, locals: { list: list}
    .create__card
      = form_for @card, url: board_list_cards_path(@board, list), remote: true do |f|
        = f.text_area :name
        %br/
        = f.submit '追加', class: "card-submit-button"
        = fa_icon "times lg", class: "card-close"
  .lists__item__newlink
    .lists__item__newlink__link
      カードを追加
