.lists__item
  .lists__item__header
    = list.name
  .lists__item__header__form
    = form_for list, url: edit_board_list_path(@board, list) do |f|
      = f.text_field :name
  .lists__item__content
    = render partial: "card", collection: list.cards, locals: { list: list}
    .create__card
      = form_for @card, url: board_list_cards_path(@board, list) do |f|
        = f.text_area :name
        %br/
        = f.submit '追加', class: "card-submit-button"
        = fa_icon "times lg", class: "card-close"
  .lists__item__newlink
    .lists__item__newlink__link
      カードを追加
