= render "shared/header"
.board-main-content{ class: "#{@board.color}-content" }
  .board-header ボード名
  .board-list-content
    .lists
      = render partial: "list", collection: @lists
      .lists__item.lists__item__newlist{ class: "#{@board.color}-content" }
        .lists__item__newlist__link リストを追加
        = render "shared/popover-list", list: @list
