.log-list__item{class: "activity-id-#{activity.id}"}
  .log-list__item__comment
    %span.log-list__item__comment__text
      = activity.memo
  .log-list__item__comment__form
    = form_for activity, url: board_list_card_activity_path(@board, list, card, activity), remote: true do |f|
      = f.text_area :memo, autofocus: true, class: "activity-memo-edit-form", placeholder: 'コメントを入力してください'
      %br/
      = f.submit '保存', class: "activity-memo-edit-submit"
      = fa_icon "times lg", class: "activity-memo-close"
  .log-list__item__footer
    %span.log-list__item__footer__time
      = activity.created_at.strftime('%Y年%m月%d日 %H時%M分')
    %span -
    %span.log-list__item__footer__edit
      編集
    %span -
    = link_to "削除", { controller: "activities", action: "destroy", list_id: list.id, card_id: card.id, id: activity.id }, method: :delete, class: '.log-list__item__footer__delete', remote: true
