.pop-over__board
  .pop-over__board__header
    %span ボードを作成
    = fa_icon "times"
  .pop-over__board__content
    = form_for board do |f|
      .field
        = f.label :name
        %br/
        = f.text_field :name
      .field
        = f.label :color
        = f.hidden_field :color
        %ul.color-selector
          %li
            .color-selector__item.blue-content
          %li
            .color-selector__item.orange-content
          %li
            .color-selector__item.green-content
          %li
            .color-selector__item.red-content
          %li
            .color-selector__item.purple-content
          %li
            .color-selector__item.pink-content
          %li
            .color-selector__item.lightgreen-content
          %li
            .color-selector__item.skyblue-content
          %li
            .color-selector__item.grey-content
      = f.submit '作成', class: "board-submit-button"
