.account-page
  %h2 Trelloにログイン
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .field
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true, size: 45, class: "textbox"
    .field
      = f.label :password
      %br/
      = f.password_field :password, autocomplete: "off", size: 45, class: "textbox"
    .actions
      = f.submit "ログイン", class: "user-submit-button button-active"
  = render "devise/shared/links"
