= render "shared/header"
.main
  .main__header
    = fa_icon "user-circle-o lg", class: "main__header__icon"
    %h2.main__header__name パーソナルボード
  %ul.board-list
    = render partial: 'board', collection: @boards
    %li.board-list__board.new_board
      .board_link 新しいボードを作成
      = render "shared/popover-board", board: @board
    %li.board-list__board.empty
    %li.board-list__board.empty
    %li.board-list__board.empty
    %li.board-list__board.empty
  = render "shared/popover"
